body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(images/vegas.jpg);
  background-size: cover;
  margin: 0;
}

h1 {
  font-family: "Bungee Inline", sans-serif;
  color: #d1203b;
  background-color: #121639;
  border-color: #121639;
  border-radius: 45%;
  font-style: 4em;
  padding: 1rem;
}


.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  background-color: rgb(196, 180, 84, 0.5);
  border-radius: 20px;
  display: inline-block;
  width: 30%;
  text-align: center;
  margin: 0 5%;
}

.dice-player {
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: #3498db;
  border-radius: 15px;
}

.dice {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

button {
  font-family: "Bungee Inline", sans-serif;
  color: #d1203b;
  background-color: #121639;
  display: block;
  margin-top: 10px;
  border: #121639;
  border-radius: 45%;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background: #d1203b;
  color: #121639;
  text-decoration: none;
  cursor: grabbing;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.button-container button {
  margin-right: 10px;
}

#player {
  width: 100px;
  border-radius: 50%;
}

#winnerSection {
  display: none;
  text-align: center;
  margin-top: 10px;
}

#winner {
  font-size: 1.5em;
  color: #c4b454;
  background-color: #121639;
  font-weight: 15em;
  border-radius: 20px;
  padding: 2rem;
}
